colorama==0.4.6
loguru==0.7.3
numpy==2.2.2
pandas==2.2.3
# Editable Git install with no remote (process_status==0.3.1)
-e c:\users\pa_dpashayan\desktop\pyprojects\process_status
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
tqdm==4.67.1
tzdata==2025.1
win32_setctime==1.2.0
